.unorder-list {
  width: 30%;
  list-style: none;
  background-color: black;
  overflow-y: auto;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: gold;
  padding: 6px;
}

@media (max-width: 768px) {
  .unorder-list {
    width: 65%;
  }
}

.search-input {
  width: 100%;
  border-width: 0px;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 7px;
}

.video-list-para {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .unorder-list {
    order: 3;
  }
}
